{% set theme = app.session.get('theme') %}

{% extends theme~'/base.html.twig' %} 

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %} 

	<div class="container">
		<div class="row">
			<h1>Panel de Administración </h1>
			
			<hr> 
			<h3>Alta de una nueva actividad</h3>
			
			{{ form_start(form) }}
				{{ form_widget(form) }}

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Grabar</button>
					</div>
				</div>
			{{ form_end(form) }}
			
			<hr> 
			
			<h3>Actividades actuales</h3>
			
            <div class="table-responsive">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
							<td class="text-center">Id</td>
							<td>Nombre</td>
							<td>Curso</td>
							<td>Fecha Inicio</td>
							<td>Fecha Fin</td>
							<td>Lugar</td>
							<td>Colegios</td>
							<td>Niveles</td>	
							<td>Alumnos que participan</td>
							<td>Activa</td>
							<td class="text-center">Eliminar</td>
                            </tr>
                        </thead>
                    </thead>
                    <tbody>
						{% for ln in list %}
							<tr>
								<td>{{ ln.id }}</td>
								<td>{{ ln.nombre }}</td>
								<td>{{ ln.curso }}</td>
								<td>{{ ln.fechaini|date("d/m/Y") }}</td>
								<td>{{ ln.fechafin|date("d/m/Y") }}</td>
								<td>{{ ln.lugar }}</td>
								<td>{% for colegio in ln.colegios %}
										<div>{{ colegio }}</div>
									{% endfor %}
								</td>
								<td>{% for nivel in ln.niveles %}
										<div>{{ nivel }}</div>
									{% endfor %}
								</td>	
								<td>{% for alumno in ln.alumnos %}
										<div>{{ alumno }}</div>
									{% endfor %}
								</td>
								<td>{{ ln.activa }}</td>
								<td class="text-center"> <a rel="2" class="remove_cart" href="{{ url('eliminar_actividad',{'id': ln.id()}) }}"> <i class="fa fa-trash-o"></i> </a></td>
							</tr>
						{% endfor %}					   
                    </tbody>    
                </table>    
            </div>					
		</div>	
	</div>

	
{% endblock %} 

