{% set theme = app.session.get('theme') %}

<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>   
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/icono.png') }}" />
        
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}

        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('css/'~theme~'/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/'~theme~'/sticky-footer.css') }}" rel="stylesheet">
			
            <link href="{{ asset('css/'~theme~'/font-awesome.min.css') }}" rel="stylesheet">
			
			<link href="{{ asset('css/'~theme~'/galdon.css') }}" rel="stylesheet">
            <link href="{{ asset('css/'~theme~'/cookies.css') }}" rel="stylesheet">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->   

        {% endblock %}
		
        <!-- jQuery -->
        {% block javascript %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <script src="{{ asset('js/jquery.js') }}"></script>
			
			<script src="{{ asset('js/functions.js') }}" type="text/javascript"></script>
        {% endblock %}		
        
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                {% block navbar %}
                    {{ include (theme ~'/block_nav-bar.html.twig',{'elems': []}) }}
                {% endblock %}

            </div>
        </nav>
		
		<!-- Mensajes de Aviso -->
		<div class="container">
			{% for label, flashes in app.session.flashbag.all %}
				{% for flash in flashes %}
					<div class="alert alert-{{ label }}">
						{{ flash }}
					</div>
				{% endfor %}
			{% endfor %}		
		</div>

		<!-- Page Content -->  
		{% block content %}
			<div class="container">
				CONTENT
			</div>
		{% endblock %}     
		

        <!-- Footer -->
        <footer id="footer">
			{{ include (theme ~'/block_footer.html.twig') }}
        </footer>
        
        <!-- Mensaje de Cookies -->
        <div id="barraaceptacion" style="display: block;">
            <div class="inner">
                Esta web utiliza cookies. Si sigues navegando, entendemos que aceptas nuestras condiciones de uso.
                <a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
                <a href="http://politicadecookies.com" target="_blank" class="info">Más información</a>
            </div>
        </div>
        
        <script src="{{ asset('js/cookies.js') }}" type="text/javascript"></script>
        

    </body>
</html>
